extends layout

block main-content 
    h1 Products
    a(href="/addItemDetails").btn.btn-secondary.mb-3 Add an Item
    div.row.mb-5
        div.col-2
        div.col-8
            ul.list-group
            each item in items
                - 
                    let stock = item.stock 
                li.list-group-item
                    div.card
                        div.card-body
                            h3.card-title.mb-4 #{item.name} 
                            span.badge.badge-primary.badge-pill.card-subtitle.mb-4 #{stock} Left
                            p.card-text #{item.description}
                            h4.text-right.mr-5 $#{item.price}
                            //- form(method = "get" action="/deleteItem")
                            //-     input(type="hidden" value=item.name)
                            //-     button(type="submit").btn.btn-danger.btn-lg Delete
        div.col-2